<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BARBERIN</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/home.css">
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="logo">Kcoda logo</div>
        </div>

        <div class="main-title">
            <h1>BARBERIN</h1>
        </div>

        <div class="cards-container">
            <div class="card"></div>
            <div class="card"></div>
        </div>

        <div class="buttons-container">
            <button class="btn btn-login"><a href="./login.html">Sign In</a></button>
            <button class="btn btn-signup"><a href="./register.html">Sign Up</a></button>
        </div>

        <div class="info-box">
            <h2>APP SLOGAN</h2>
            <p>APP DESCRIPTION</p>
        </div>

        <a href="#" class="footer-link">About us</a>
    </div>
</body>

</html>